@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.header-card {
    width: 151px !important;
    height: 40px;
    padding-top: 12px;
    border-radius: 12px;
    box-shadow: none;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 10px;
    text-align: center;
}

.content-card {
    width: 345px !important;
    height: auto;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #3D2F2F;
    margin: 10px;
    text-align: left;
}

.announce-date {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #00B388;
    background: #E1FFF8;
    border-radius: 6px;
    padding: 6px;
}

.announce-time {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #0099CC;
    background: #D7F5FF;
    border-radius: 6px;
    padding: 6px;
}