@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.react-calendar-custom-style {
    border: none !important;
}

abbr[data-original-title], abbr[title]  {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #3D2F2F;
    text-decoration: none;
}

/* .react-calendar__tile--active {
    background-color: #138BFC;
}

.react-calendar__tile--now {
    background-color: #E6F3FF;
} */

.datepicker-calendar {
    padding: 1px !important;
}

.datepicker-day {
    font-size: 10px;
}

.datepicker-popper {
    padding: 1px;
}

.datepicker-wrapper {
    width: 100%;
}

.datepicker-timer {
    font-size: 12px;
}

.date-picker-style {
    width: 100%;
}