.main-card {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 2px !important;
    margin-bottom: 16px !important;
}

.schedule-card {
  border-radius: 6px;
  background: #F0F3FF;
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 991px) {
    .main-card {
      width: 300px !important;
    }
  }