@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.chapter-card {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    margin-bottom: 2%;
    cursor: pointer;
}

.css-1m6kmfd{
    padding: 5px !important;
}

.css-khqxyy {
    padding: 5px !important;
}

[class*="chapter-card-chapter-box-"] {
    width: 75px;
    height: 75px;
    border-radius: 12px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
}

.chapter-card-chapter-box-violet {
    background: #504eb1;
}

.chapter-card-chapter-box-red {
    background: #FA717D;
}

.chapter-card-chapter-box span {
    font-family: Product Sans;
    padding: 2%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}  

.chapter-card-title {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 24px;
    color: #3D2F2F;
    padding-top: 4px;
}

[class*="chapter-card-completed-percnt-"] {
    background-color: #FFCACA;
    border-radius: 6px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF6C6C;
    padding: 5px;
}

.chapter-card-content {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px;
    color: #AAAAAA;
    /* position: absolute; */
}

.chapter-card-content-body {
    background: #E5E5E5;
}

.chapter-card-topic-box {
    width: 30px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
    margin-top: 4px;
}

.chapter-card-topic {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #B4B4B4;
    padding: 8px;
    cursor: pointer;
}

.chapter-card-completed-percnt-topic {
    font-size: 12px;
    line-height: 15px;
}

.bold {
    font-weight: bold;
}

