@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.name {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 19px;
    color: #3D2F2F;
}

.question {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px;
    color: #3D2F2F;
}

.reply {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px;
    color: #3D2F2F;
}

.time {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    line-height: 12px;
    color: #ACACAC;
}

.reply-button {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px;
    color: #138BFC;
}

.discussion-box .css-1c3x5hw {
    margin-left: 10px !important;
}

.reply-input-box {
    width: 100%;
    height: 40px;
    min-width: 200px;
    background: #F1F1F1;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    padding-left: 10px;
    padding-right: 35px;
}

.reply-send-button {
    margin-left: -30px;
}

.reply-send-button:hover {
    stroke: #138BFC;
}

.color-line {
    width: 4px;
    height: 48px;
    background: #FFC656;
}

.question-card {
    border-left: none;
    border-right: none;
}

.accordion-header {
    background: none;
    border-bottom: none;
}

/* doubt page style goes here.. */

.topic-header {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 19px;
    color: #3D2F2F;
}