.ql-toolbar.ql-snow {
  border: none;
  background: gainsboro;
}

.main-card .css-dzznt7 {
  width: 100% !important;
}

.ql-snow .ql-tooltip {
  left: 100px !important;
}

.ql-editor img {
  max-width: 200px;
  max-height: 200px;
}

.ql-blank {
  padding: 1%;
  margin-top: 0%;
  height: 36vh;
}

.editor-card {
  height: auto;
  box-shadow: none;
  border: none;
}

.editor-data-display img {
  width: 100%;
  height: 200px;
}


.editor-card .ql-editor {
  height: 38vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.editor-card .ql-editor::-webkit-scrollbar {
  display: none;
}

.css-khqxyy {
  width: 100% !important;
}

/* study page notes editor style goes here.. */

.editor-study-notes-title {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px !important;
  line-height: 24px;
  color: #3D2F2F;
}

.editor-tip {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 170%;
  color: #5691E9;
}

.editor-study-notes .editor-card {
    background: #F4F6FB;
}

.editor-study-notes .ql-blank {
  /* padding: 1%; */
  margin-top: 0%;
  height: 30vh;
  max-height: 50vh;
  background: #FFFFFF;
}

.editor-study-notes .css-dzznt7 {
  width: 100%;
  height: 35vh;
  max-height: 60vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-study-notes .ql-editor {
  height: 30vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-study-notes .ql-editor::-webkit-scrollbar {
  display: none;
}

.editor-study-notes .css-dzznt7::-webkit-scrollbar {
  display: none;
}

/* mobile editor for study notes style goes here.. */

.mobile-right-panel .editor-study-notes .editor-card {
  background: none
}

.mobile-right-panel .editor-study-notes .ql-blank {
  height: 50vh;
}

.mobile-right-panel .editor-study-notes .css-dzznt7 {
  height: 55vh;
} 

.mobile-right-panel .editor-study-notes .ql-editor {
  height: 45vh;
  background: #F4F6FB;
} 

.editor-study-notes-right-panel {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

/* live session editor style goes here.. */

.editor-live-session .ql-blank {
  /* padding: 1%; */
  margin-top: 0%;
  height: 60vh;
  max-height: 50vh;
  background: #FFFFFF;
}

.editor-study-notes .css-dzznt7 {
  width: 100%;
  height: 35vh;
  max-height: 60vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-live-session .ql-editor {
  height: 40vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-study-notes .ql-editor::-webkit-scrollbar {
  display: none;
}

.editor-study-notes .css-dzznt7::-webkit-scrollbar {
  display: none;
}
