@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

[class*="text-input-"] {
    width:100%;
    background: #E1E1E1;
    border-radius: 12px;
    border: 1px solid #E1E1E1;
    height: 45px;
    padding: 10px;
    outline: none;
}

.text-input-topic-input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.text-input-topic-url-input {
    background: #FFFFFF;
    height: 35px;
    border-radius: 6px;
    border: none;
    margin-left: 15px;
}

select {
    background: #E1E1E1 !important;
}

.css-1408dmu .css-18qeiji {
    padding-top: 0px;
}

.text-input-form {
    height: 35px;
}

.text-input-evaluate {
    width: 35px;
    height: 35px;
    border-radius: 6px;
}

.text-input-textarea-form {
    height: auto;
    resize: none;
}

[class*="primary-button-"] {
    height: 45px;
    width: 100%;
    color: #FFFFFF;
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    border-width: 0;
    background: #138BFC;
    border-radius: 6px;
    outline: none !important;
}

.primary-button-lg {
    height: 35px;
}

.primary-button-sm {
    height: 30px;
    font-weight: normal;
}

.btn-white {
    background: #F4F6FB;
    color: #138BFC;
    border: 1px solid #138BFC;
    box-sizing: border-box;
}

.button-green {
    background: #00B288;
}

.button-red {
    background: #F65164;
}

.primary-button-circle-lg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.primary-button-circle-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 2px;
}

[class*="mob-primary-button-form-"] {
    display: none;
    height: 50px;
    width: 50px;
    margin: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.mob-primary-button-form-close {
    background: #F65164;
}

.form-title-login {
    font-style: normal;
    font-size: 42px;
    line-height: 63px;
    color: #138BFC;
    margin: 0 0 35px 0;
}

.form-label-login {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #3D2F2F;
}

.form-label {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
}

.form-title-user {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #138BFC;
    text-align: center;
}

.date-picker-style {
    width: 213px;
    background: #E1E1E1;
    border-radius: 12px;
    border: 1px solid #E1E1E1;
    height: 35px;
    padding: 10px;
    outline: none;
    margin: 6px 0px;
}

.editor-card-label {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #3D2F2F;
}

@media only screen and (max-width: 768px) {
    .mob-primary-button-form- {
        display: block;
    }
    .mob-primary-button-form-close {
        display: block;
    }
}