@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans'),
    url('../fonts/ProductSans-Regular.woff') format('woff');
}

.group-card-wrapper {
  margin-right: 20px !important;
}

.group-card-wrapper:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.group-card-content {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3d2f2f;
}

.group-card-title {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #3d2f2f;
}

[class*="group-card-standard-"]{
  width: 100px;
  height: 100px;
  background: #504EB1;
  border-radius: 12px;
}

.group-card-standard-red {
  background: #F65164;
}

.group-card-p {
  font-family: Product Sans !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 35px !important;
  line-height: 46px !important;
  color: #ffffff;
  justify-content: center;
}

.group-container {
  height: 100vh;
  overflow-y: hidden;
}
.card-title {
  font-size: 24;
  font-weight: bold;
}
.three-dots:after {
  content: '\2807';
  font-size: 12px;
}
.card-key {
  font-size: 18px;
  line-height: 22px;
  width: 55%;
}
.group-card-expand {
  color: #ffffff;
  font-family: 'Product Sans';
}
.staff-group-list {
  color: #3d2f2f;
  font-family: 'Product Sans';
}

.staff-group-list .staff {
  cursor: pointer;
}

.staff-row {
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: none;
}
.staff-row::-webkit-scrollbar {
  display: none;
}

.staff-details {
  width: 50%;
  text-align: left;
}

.subject-card {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;
}

.subject-card .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-card .code {
  font-size: 10px;
  line-height: 12px;
}

.subject-card .chapter-count {
  font-size: 10px;
  line-height: 12px;
}

.group-cards-container {
  overflow: auto;
  height: 90vh;
  scrollbar-width: none;
}

.group-cards-container::-webkit-scrollbar {
  display: none;
}

.bold {
  font-weight: bolder;
}

/* group lists style */

[class*="list-table-"] {
  width: 100vw;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px !important;
  margin: 5px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #3D2F2F;
}

/* .list-table-body:hover {
  transform: scale(1.01);
} */

.list-table-header {
  color: #ACACAC;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

.name-style {
  font-weight: bold;
}

.desc-style {
  padding: 4px;
  background: #E1FFF8;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #3D2F2F;
  border-radius: 6px;
}

.email-style {
  color: #138BFC;
  text-decoration: underline;
}

table { 
  table-layout: auto;
  width: 100%;
  border-collapse: separate; 
}

th:first-child {
  border-top-left-radius: 12px; 
  border-bottom-left-radius: 12px;
}
th:last-child {
  border-bottom-right-radius: 12px; 
  border-top-right-radius: 12px; 
}

td:first-child {
  border-top-left-radius: 12px; 
  border-bottom-left-radius: 12px;
}
td:last-child {
  border-bottom-right-radius: 12px; 
  border-top-right-radius: 12px; 
}
