.container {
    justify-content: space-between;
}

.profile-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.profile-card:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.person-name {
    color: #000000;
    font-family: Product Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.profile-details {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    color: #138BFC;
    padding-left: 10px;
}

.login-user-role {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ACACAC;
}

.institution-logo {
    width: 50px;
    height: 50px;
    margin: 6px;
    cursor: pointer;
}

.institution-name {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px !important;
    line-height: 24px;
    padding: 10px;
    color: #737373;
    cursor: pointer;
}


.nav-menu-bar{
    display: none;
}

.institution-name-container {
    width:100%;
}

.mob-profile-card {
    display: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    padding-top: 8px;
}

.mob-profile-name {
    font-family: Product Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 540px) {
    .nav-menu-bar {
        display:block;
        margin-left: 5px;
    }
    .institution-name-container {
        width:90%;
    }
    .institution-name .text {
        font-size: 10px;
    }
    .institution-logo {
        width: 25px;
        height: 25px;
        margin: 6px;
    }

}

@media only screen and (max-width: 768px) {
    .profile-card {
        display: none;
    }
    .mob-profile-card {
        display: block;
    }

}

  