.edit-icon {
    margin: 0px 5px 5px 0px;
}

.delete-icon {
    margin: 0px 5px 5px 0px;
}

.Eduzy-logo {
    cursor: pointer;
}

.edit-icon:hover {
    stroke: #138BFC;
    cursor: pointer;
}

.delete-icon:hover {
    stroke: #FF6060;
    cursor: pointer;
}

.send-icon:hover {
    fill: #138BFC;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .edit-icon {
        stroke: #138BFC;
    }
    
    .delete-icon {
        stroke: #FF6060;
    }

}