.main-box {
  height: 100vh;
  overflow: hidden;
}

.display-box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f7fb;
}

.right-panel {
  width: 280px;
  min-width: 280px;
  height: 85vh;
  padding: 20px !important;
  overflow: auto;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px 0px 0px 12px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right-panel::-webkit-scrollbar {
  display: none;
}

.content {
  width: 74%;
  height: 83vh;
  overflow: auto;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.page-title {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    line-height: 35px;
    color: #353232;
}

.float-right {
  margin-left: auto !important;
}

/* color styles goes here.. */

.red {
  color: #F65164;
}

.blue {
  color: #138BFC;
}

.navy-blue {
  color: #235DB5;
}

.green {
  color: #00B288;
}

.white {
  color: #FFFFFF;
}

.bold {
  font-weight: bold !important;
}

.bg-green {
  background: #E5FFF6 !important;
}

.bg-blue {
  background: #E6F2FF !important;
}

.bg-red {
  background: #FFECE5 !important;
}

.bg-grey {
  background: #F0F3FF !important;
}


.notification-counts {
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #FFFFFF;
  background: #FA717D;
  border-radius: 6px;
}

.display-box {
  padding-left: 2px !important;
}

.content {
  padding: 20px !important;
  padding-top: 6px !important;
}

.rightpanel-cards {
  border: none;
}

@media only screen and (max-width: 768px) {
  .right-panel {
    display: none;
  }
  .content {
    width: 100%;
    /* height: 90vh; */
  }
  .blur-content {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    /* filter: grayscale(100%) */
  }
  .page-title {
    font-size: 18px !important;
  }

}

@media only screen and (min-width: 1900px) {
  
  .right-panel {
    height: 91vh;
  }
  
}