.nav-container {
    width:20%;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 12px 12px 0px;
}
.nav-content {
    overflow: auto;
    height:80vh;
}
.nav-content::-webkit-scrollbar {
    display: none;
}
.nav-content-row {
    text-align: center;
    padding: 10px;
}
.nav-icon {
    box-shadow: 0px 2px 15px rgba(19, 139, 252, 0.34);
    border-radius: 0px 6px 6px 0px;
    background-color: #138BFC;
}

.nav-content {
    font-family: Product Sans;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
}

@media only screen and (max-width: 991px) {
    .nav-container {
        width:30%;
    }
}

@media only screen and (max-width: 540px) {
    .nav-container {
        display:none;
    }
}
  