@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

/* live session card styles goes here.. */

.live-session-card {
    border: none;
    padding-left: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.live-session-card .card-header {
    padding: 8px;
    background: #FFFFFF;
    border: none;
}

.test-card-collapse {
    margin-top: 0px;
    margin: 10px;
    background: #FFFFFF;
}

.live-session-card-body {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px;
    color: #3D2F2F;
}

.live-session-card-body .css-1c3x5hw {
    justify-content: space-between;
}

.live-session-card-topics {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #575757;
}

/* live session page styles goes here.. */



/* video page styles */

.video-session .css-x8h95v {
    padding-right: 10px;
    padding-left: 10px;
}

.video-session .css-dzznt7 {
    width: 100%;
}

.video-session .live-session-nav-card .nav-tabs .nav-link {
    font-size: 12px;
}

.video-session .ql-blank {
    background: #FFFFFF;
    height: 38vh;
}