.login-main-container {
  justify-content: center;
  align-items:center;
  padding: 0px 8px;
}
.login-container {
  display:flex;
  align-items:center;
  width: 40%;
  height: 97vh;
  justify-content: center;
}
.login-form-container {
  margin: 20px auto;
  padding: 16px;
  max-width: 370px;
}
.login-img-container {
  max-width:60%;
}
.login-img-container img {
  max-width:100%;
  max-height: 97vh;
}


@media only screen and (max-width: 991px) {
  .login-img-container {
    max-width: 500px;
  }

  .login-container {
    width: 100%;
  }

  .login-img-container .img{
    width:550px;
  }
}

@media only screen and (max-width: 540px) {
  .login-img-container .img{
    width:300px;
  }
}
