
@font-face {
font-family: 'Product Sans';
font-style: normal;
font-weight: normal;
src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

/* login form related styles */

.form-head {
  font-style: normal;
  font-size: 50px;
  line-height: 63px;
  color: #544E9F;
  margin: 0 0 35px 0;
}

label{
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3D2F2F;
}

.login-container p {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #138BFC;
  padding-top: 10px;
}

/* radio butten related styles */

/* The container */
.radio_btn_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3D2F2F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_btn_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
[class*="radio_btn_checkmark"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #E1E1E1;
}

.radio_btn_checkmark_radio {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_btn_container:hover input ~ .radio_btn_checkmark {
  background-color: #ccc;
}

.radio_btn_container:hover input ~ .radio_btn_checkmark_radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_btn_container input:checked ~ .radio_btn_checkmark {
  background-color: #5691E9;
}

.radio_btn_container input:checked ~ .radio_btn_checkmark_radio {
  background-color: #5691E9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_btn_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio_btn_checkmark_radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_btn_container input:checked ~ .radio_btn_checkmark:after {
  display: block;
}

.radio_btn_container input:checked ~ .radio_btn_checkmark_radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_btn_container .radio_btn_checkmark_radio:after {
 	top: 6.5px;
	left: 6.5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

.radio_btn_container .radio_btn_checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forgot-password {
  text-align: center;
}

/* Media related styles */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-head {
    font-size: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

