.mobile-nav-container {
    z-index: 10;
    height: 100vh;
    position: absolute !important;
    background-color: white;
    animation-name: left-nav;
    animation-duration: 0.4s;
}

.mobile-nav-container .visible {
    display:block;
}

.mobile-nav-container .hide {
    display:none;
}

.mobile-right-panel {
    position: absolute;
    top: 15%;
    left: 12%;
    width: 220px;
    min-width: 220px;
    height: 74vh;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    animation-name: mob-form;
    animation-duration: 0.4s;
}

.mobile-right-panel .visible{
    display: block;
}

.mobile-right-panel .hide{
    display: none;
}

@keyframes left-nav {
    0%   {left:-100px;}
    25%  {left:0px;}
}

@keyframes mob-form {
    0%   {top: 0px;}
    25%  {left:12%; top:15%;}
}
