
@font-face {
  font-family: 'PatuaOne-Regular';
  src: url('../fonts/PatuaOne-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PatuaOne-Regular.woff') format('woff'), url('../fonts/PatuaOne-Regular.ttf')  format('truetype'), url('../fonts/PatuaOne-Regular.svg#PatuaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PatuaOne-Regular';
}
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.banner__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner1 {
  width: 40%;
  float: left;
  margin: 4% 0 0 0;
}
.banner2 {
  width: 60%;
  float: left;
}

.formContainer {
  margin: 20px auto;
  padding: 16px;
  max-width: 350px;
}

.formContainer p {
  text-align: center;
}

.main_box_wrapper{
  display: grid;
  grid-template-columns: 15% 85%;
}

/* .display_box_wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 15% 85%;
  height: 100vh;
} */

.show_contents {
  justify-content: center;
}

.content_box_full_wrapper {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-around;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content_box_full_wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content_box_full_wrapper {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* center card styles */
.content_box_left_wrapper {
  display: grid;
  grid-row: 2/4;
  justify-content: space-around;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content_box_left_wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content_box_left_wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* left card styles */

/* .left_box_wrapper {
  display: grid;
  grid-template-rows: 15% 14% 14% 14% 14% 14% 15%;
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 12px 12px 0px;
  font-size: 12px;
} */

.left_box_wrapper p {
  text-align: center;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #3D2F2F;
  text-decoration: none;
}

.left_box_banner {
  display: grid;
  grid-template-columns: 30% 70%;

}

.our_logo_style {
  position: absolute;
  margin: 2.5%;
  width: 10vw;
  height: 6vh;
}

.left_box_nav_images {
  position: relative;
  width: 6vw;
  height: 6vh;
  justify-content: center;
  left: 30%;
}

.header_box_wrapper {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: ffffff;
  margin: 0;
}

.header_box_wrapper h1 {
  margin-left: 10%;
}

.header_box_wrapper hr {
  border: 1px solid #CCCCCC;
  margin-left: 2%;
  margin-right: 2%;
}

.header_box_banner {
  display: grid;
  grid-template-columns: 8% 67% 25%;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #737373;
  margin-top: 1%;
}

.header_box_banner img {
  margin: 1.5rem;
  height: 6vh;
  width: 6vh;
}

.header_box_banner h1 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  margin: 1.5rem;
}


.header_principal_card {
  width: 16vw;
  height: 7vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
}

.header_principal_card h4 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 1%;
  color: #000000;
}

.header_principal_card p {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 5px;
  /* identical to box height */
  margin: 0.5%;
  padding: 0.5%;
  color: #ACACAC;
}

/* right card styles */

.content_box_right_wrapper {
  background: #FFFFFF;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px 0px 0px 12px;
  overflow-y: scroll; /* Add the ability to scroll */
  padding: 0;
}

.content_box_right_wrapper hr {
  border: 1px solid #CCCCCC;
  margin-left: 8px;
  margin-right: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content_box_right_wrapper::-webkit-scrollbar {
  display: none;
}

.content_box_right_banner {
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 5%;
}

/* .content_box_right_banner input[type=text], .content_box_right_banner input[type=password], .content_box_right_banner input[type=email], .content_box_right_banner input[type=tel] {
  height: 35px;
  width: 240px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #E1E1E1;
} */

.content_box_right_banner button {
  height: 35px;
  width: 240px;
  background: #5691E9;
  font-weight: unset;
}

.content_box_right_banner h3 {
  font-size: 12px;
  color: #5691E9;
  text-align: center;
  margin-top: 5%;
  padding: 2%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .formContainer {
    display: block;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .background-image {
    width: 50%;
  }
  .asideleft {
    width: 230px;
    height: 100vh;
  }
}

@media only screen and (max-width: 991px) {
  .banner1, .banner2 {
    width: 100%;
    float: none;
    margin: 0;
  }
  .banner__wrapper {
    height: auto;
    display: block;
  }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .background-image {
    width: 58%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
