@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

/* study topic page nav-card designs goes here.. */

.nav-card {
    margin: 1%;
    border: none;
    background: none;
}


.nav-card-title {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 24px;
    color: #3D2F2F;
    padding: 3px ;
    margin-left: 10px;
}

.nav-card-header {
    border: none;
    background: none;
    margin: 6px;
    padding: 1px;
}

.nav-card-body {
    border-radius: 2px 12px 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    /* height: 67vh; */
    /* overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* .nav-card-body::-webkit-scrollbar {
    display: none;
} */

.nav-card-navbar {
    border: none;
}

.nav-card-nav-item {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ACACAC;
}

.nav-tabs .nav-link {
    border-radius: 12px 12px 0px 0px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #ACACAC;
    padding: 5px 12px;
    border: none;
}

.nav-tabs .nav-link:hover {
    background: #FFFFFF;
    color: #138BFC;
}

.nav-link-active {
    background: #FFFFFF;
    color: #138BFC !important;
}

.nav-card-content-title {
    margin-bottom: 12px;
}

.nav-card-content p {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #AAAAAA;
    padding: 1.5px;
}

.nav-card-content img {
    width: 54.17vw;
    height: 52.17vh;
    min-width: 27.08vw;
    min-height: 26.08vh;
}

.nav-card-content iframe {
    width: 54.17vw;
    height: 52.17vh;
    min-width: 27.08vw;
    min-height: 26.08vh;
}

.nav-card-content {
    height: 64vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.discussion {
    height: 50vh;
}

.nav-card-content::-webkit-scrollbar {
    display: none;
}

.assessment-box {
    height: 48vh;
}

/* live session page nav-card designs goes here.. */

.live-session-nav-card {
    border: none;
    background: none;
}

.live-session-nav-card .nav-link {
    background: none;
}

.live-session-nav-card .card-header {
    background: none;
    border-bottom: 1px solid #ACACAC;
}

.live-session-nav-card .nav-tabs .nav-link {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    background: none;
}

.live-session-nav-card  .nav-link:hover {
    border-bottom: 2px solid #138BFC;
}

.live-session-nav-card  .nav-link-active {
    border-bottom: 2px solid #138BFC !important;
}


@media only screen and (max-width: 768px) {
    .nav-tabs .nav-link {
        font-size: 12px;
    }

    .live-session-nav-card .nav-tabs .nav-link {
        font-size: 10px;
        padding: 3px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-card-content {
        height: 70vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .nav-card-body {
        height: 73vh;
        border-radius: 2px 12px 12px !important;
    }
  
    .nav-card-content {
        height: 64vh;
    }
    .discussion {
        height: 61vh;
    }
    .assessment-box {
        height: 60vh;
    }
}

@media only screen and (min-width: 1900px) {
  
    .nav-card-content {
        height: 71vh;
    }

}