/* span styles goes here.. */

[class*="span-sm"] {
    padding: 5px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px;
    color: #0099CC;  
    background: #D7F5FF;
    border-radius: 6px;
}

/* 138BFC */

.span-sm-violet {
    color: #4E4CAC;
    background: #EEEDF7;
}

.span-sm-green {
    color: #00B288;
    background: #E5FFF9;
}

.span-sm-red {
    color: #F65164;
    background: #FDE2E5;
}

.span-sm-blue {
    color: #0099CC;
    background: #D7F5FF;
}


[class*="span-lg"] {
    padding: 5px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 15px;
    color: #138BFC;
    background: #E6F3FF;
    border-radius: 6px;
}

.span-lg-blue {
    color: #138BFC;
    background: #E6F3FF;
}

.span-lg-red {
    color: #F65164;
    background: #FDE2E5;
}

.span-lg-green {
    color: #00B288;
    background: #E5FFF9;
}

.title-s4 {
    font-family: Product Sans !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 19px;
    color: #575757;
}

.title-s5 {
    font-family: Product Sans !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 19px;
    color: #575757;
}

.title-s6 {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px;
    color: #575757;
}

.title-s6-grey {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 15px;
    color: #ACACAC;
}

.p-grey {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #AAAAAA;
    padding: 1.5px;
}

.highliter {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    padding: 5px;
    background-color: #e1fff8;
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    [class*="span-lg"] {
        font-size: 14px !important;
    }
}
