@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.question {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 140.3%;
    color: #3D2F2F;
}

.choice {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 140.3%;
    color: #ACACAC;
    margin-bottom: 10px;
}

.selected {
    color: #5691E9;
}

[class*="radio_btn_checkmark"] {
    margin-top: 5px;
}

.textarea {
    border-radius: 6px;
    background: #E1E1E1;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
}

select {
    width:100%;
    background: #E1E1E1;
    border-radius: 12px;
    border: 1px solid #E1E1E1;
    height: 35px;
    outline: none;
    padding: 5px;
}

.input-select-option {
    color: gainsboro;
    margin: 5px;
    padding: 5px;
}

/* test card styles goes here.. */

.test-card {
    border: none;
    padding-left: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.test-card .card-header {
    padding: 8px;
    background: #FFFFFF;
    border: none;
}

.test-card-collapse {
    margin-top: 0px;
    margin: 10px;
    background: #FFFFFF;
}

[class*="test-type-"] {
    padding: 8px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    border-radius: 12px;
}

.test-type-completed {
    color: #00B288;
    background: #E5FFF9;
}

.test-type-not-completed {
    color: #F65164;
    background: #FDE2E5;
}

.test-name {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #252121;
}

.test-card-body {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px;
    color: #3D2F2F;
}

.test-card-body .css-1c3x5hw {
    justify-content: space-between;
}

/* test detail page styles goes here */

.questions {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 140.3%;
    color: #353232;
}

.content-title {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    line-height: 29px;
    color: #353232;
}

.content-title .css-1i0gdh8 {
    font-size: 22px ;
}

select {
    padding: 5px;
    border: none;
    background: #FFFFFF;
}

.text-input-search-question {
    height: 35px;
    padding: 5px;
    border: none;
    background: #FFFFFF;
}

.primary-button-question-submit {
    height: 30px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}

.study-page-wrapper .css-13yhkz7 {
    padding-left: 12px;
    padding-right: 12px;
}

.float-right {
    margin-left: auto;
    
}

/* test evaluation page styles goes here.. */

.title-lable {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 22px;
    color: #252121;
}

.test-evaluation .css-1m6kmfd {
    margin-right: 0px;
}

.test-evaluation-card {
    height: 90%;
    margin-top: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.test-evaluation-card::-webkit-scrollbar {
    display: none;
}

.test-evaluation .rightpanel-cards {
    border: none
}

.roll-no {
    font-size: 12px !important;
    padding: 2px;
    background: #138BFC;
    color: #FFFFFF;
    border-radius: 6px;
}

.selected-student {
    background: #F0F0F0;
    border-radius: 4px;
}

.mark-box {
    background: #F0F0F0;
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    .test-evaluation-card {
        height: 80%;
    }
  
  }