@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'),
      url('../fonts/ProductSans-Regular.woff') format('woff');
}

.study-topic-chapter-box {
    height: 40px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 17px;
    color: #FFFFFF;
    background: #4E4CAC;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
}

/* .study-topic-chapter {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    line-height: 29px;
    color: #3D2F2F;
} */

.text-input-dict {
    height: 30px;
}

.study-page-wrapper .css-y71grp {
    height: 40px;
}


.topic-card-topic-box {
    width: 40px;
    height: 25px;
    background: #FA717D;
    /* background: #138BFC; */
    border-radius: 6px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}

.study-topics-total-info {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 12px !important;
    line-height: 15px;
    color: #00B288;
}

.study-topics-wrapper {
    height: 35vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.study-topics {
    min-height: 50px;
    max-height: auto;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 17px;
    color: #3D2F2F;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    cursor: pointer;
}

.topic-active {
    background: #D7FFF0;
    /* background: #03dac6; */
}

.study-topics-wrapper::-webkit-scrollbar {
    display: none;
}

.study-page-wrapper .css-jg8hyf {
    padding: 10px !important;
    background: #F4F6FB;
}

.study-page-wrapper .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    width: 25px;
}

.study-page-wrapper .ql-toolbar.ql-snow .ql-formats {
    margin-right: 1px;
}
.study-page-wrapper .ql-toolbar.ql-snow {
    padding: 2px !important;
}

.timer {
    color: #ACACAC;
}

.study-page-wrapper .css-1p6an82 {
    padding-top: 5px;
}

.study-page-wrapper .css-10q1c0m {
    padding: 10px;
}

.study-page-wrapper .css-18qeiji {
    padding-bottom: 0px !important;
}