@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

.user-card-wrapper:hover {
    cursor: pointer;
    transform: scale(1.02);
}


.user-card-title {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3D2F2F;
    justify-content: space-between;
}

.user-card-role {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #584F4F;
    background: #E1FFF8;
    border-radius: 6px;
    padding: 3px 8px;
}

.mail {
    text-decoration: underline;
}

.user-card-content {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3D2F2F;
}

.user-action-icon {
    justify-content: flex-end;
 }